body{
    background-color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}


header{
    background-color: #F8EDED;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0px 30px ;
    padding: 20px 150px 20px 150px ;
    transition: 0.5s;
    
}



.confetti{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 150.4px;
    height: 40px;
    padding: 10px;
    background-color: #7C00FE;
    border: none;
    border-radius: 10px;
    color: #F8EDED;
    transition: box-shadow 0.25s;
}

.confetti:active{
    background-color: #4E31AA;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}


.logo{
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    gap: 1rem;
    color: black;
    text-decoration: none;
   
}

.logo .fa-cake-candles{
    font-size: 2rem;
    color: orange;
    margin-bottom: 9px;


}

.navbar{
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;

}

.navbar a:hover{
    background-color: #B43F3F;
    border-radius: 5px;
    color: white;
    transition: background 0.5rem;

}

.navbar .home-active{
    background-color: green;
    border-radius: 5px;
    color: white;
    transition: background 0.5rem;
}

.navbar .home-active:hover{
    background-color: green;
    border-radius: 5px;
    color: white;
    transition: background 0.5rem;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.gallery{
    background-color: #FF8225;
    overflow: hidden;
    top: 90.4px;
    position: relative;
}

.gallery-container{
    left:50%;
    top:50%;
    width:9989px;
    height:550px;
    padding:50px; 
    border-radius: 10px; 

}

#slide{
    width:max-content;
    margin-top:50px;
}
.item{
    width:200px;
    height:300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: 0px;
    box-shadow:  0 30px 50px #505050;
    background-size: 100% 100%;
}
.item:nth-child(1),
.item:nth-child(2){
    left:20px;
    top:27.5px;
    transform: translate(0,0);
    border-radius: 0px;
    width:1059px;
    height:610px;
    box-shadow: none;
    background-size: 75% 100%;
    box-shadow: 0 30px 50px #505050;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #B43F3F;
}
.item:nth-child(3){
    left:72.4%;
}
.item:nth-child(4){
    left:calc(72.4% + 220px);
}
.item:nth-child(5){
    left:calc(72.4% + 440px);
}
.item:nth-child(n+6){
    left:calc(72.4% + 660px);
    opacity: 0;
}
.item .content{
    position: absolute;
    top:50%;
    left:0px;
    width:25%;
    text-align: center;
    padding:0;
    color:#eee;
    transform: translate(0,-50%);
    display: none;
    font-family: system-ui;
}
.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
    
}
.item .name{
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation:showcontent 1s ease-in-out 1 forwards
}
.item .des{
    margin:20px 0;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
}
.item button{
    padding:10px 20px;
    border:none;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.6s 1 forwards
}
@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}
.buttons{
    position: absolute;
    bottom:30px;
    z-index: 222222;
    text-align: right;
    width:100%;
}
.buttons button{
    margin-right: 13.7%;
    width:50px;
    height:50px;
    border-radius: 25%;
    border: 0;
    transition: 0.5s;
    background-color: #B43F3F;
    font-size: 32px;
    color: #eee;
}
#prev{
    margin-right:0;
}

.buttons button:hover{
    background-color: #FF8225;
}

@media(max-width: 1100px){
    header{
        padding: 18px 4%;
    }

    #menu-icon{
        display: initial;
    }

    .navbar{
        position: absolute;
        top: 80%;
        left: 7.5%;
        right: 0;
        display: flex;
        flex-direction:column;
        background-color: #F8EDED;
        box-shadow: 4px 4px 0 4px rgba(14 55 54 / 15%); 
        transition: 0.2s all linear;
        text-align: left;
        display: none;
    }

    .navbar a{
        padding: 1rem;
        margin-left: 1rem;
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
        margin-right: 3rem;
        display: block;

    }

    .gallery{
        top: 78px;

    
    }

    .active{
        display: initial;

    }

}


@media(max-width: 800px){

    .gallery{
        top: 78px;

    
    }
    .item{
        width:100px;
        height:100px;
        background-position: 50% 50%;
        display: inline-block;
        transition: 0.5s;
        background-size: cover;
        position: absolute;
        z-index: 1;
        bottom: 0px;
        transform: translate(0,207.5%);
        border-radius: 0px;
        box-shadow:  0 30px 50px #505050;
        background-size: 100% 100%;
    }

    .item:nth-child(1),
    .item:nth-child(2){
        left:2%;
        top:3%;
        transform: translate(0,0);
        border-radius: 0px;
        width:96%;
        height:75%;
        box-shadow: none;
        background-size: 65% 100%;
        box-shadow: 0 10px 10px #505050;
        background-repeat: no-repeat;
        background-position: right center;
        background-color: #B43F3F;
    }

    .item:nth-child(3){
        left:2%;
    }
    .item:nth-child(4){
        left:calc(2% + 105px);
    }
    .item:nth-child(5){
        left:calc(2% + 210px);       
    }


    .item:nth-child(2) .content{
        display: block;
        z-index: 11111;
        top:50%;
        left:0%;
        width:35%;
        text-align: center;
        padding:0;
        color:#eee;

    }    
    .buttons{
        position: absolute;
        bottom:30px;
        z-index: 222222;
        text-align: right;
        width:100%;
    }
    .buttons button{
        margin-right: 17%;
        width:75px;
        height:75px;
        border-radius: 25%;
        border: 0;
        transition: 0.5s;
        color: #eee;
        background-color: #B43F3F;
        font-size: 32px;
    }

    #prev{
        margin-right:10%;
    }
        
        
    
}



