body{
    background-color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    position: relative;
}


header{
    background-color: #F8EDED;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0px 30px ;
    padding: 20px 150px 20px 150px ;
    transition: 0.5s;
    
}



.confetti{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 150.4px;
    height: 40px;
    padding: 10px;
    background-color: #7C00FE;
    border: none;
    border-radius: 10px;
    color: #F8EDED;
    transition: box-shadow 0.25s;
}

.confetti:active{
    background-color: #4E31AA;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}


.logo{
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 550;
    gap: 1rem;
    color: #B43F3F;
    text-decoration: none;
   
}

.logo .fa-cake-candles{
    font-size: 2rem;
    color: #B43F3F;
    margin-bottom: 9px;


}

.navbar{
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;

}

.navbar a:hover{
    background-color: #B43F3F;
    border-radius: 5px;
    color: white;
    transition: background 0.5rem;

}

.navbar .home-active{
    background-color: green;
    border-radius: 5px;
    color: white;
    transition: background 0.5rem;
}

.navbar .home-active:hover{
    background-color: green;
    border-radius: 5px;
    color: white;
    transition: background 0.5rem;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF8225;
    top: 90.4px;
    width: 100%;
    height: 89vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left center;
}

.birthdayCard {
    position: relative;
    width: 300px;
    height: 450px;
    cursor: pointer;
    transition: 1s;
  }
  
  .birthdayCard:hover {
    transform:  rotate(5deg);
  }
  
  .birthdayCard:hover .cardFront {
    transform: rotateY(-180deg);
    background-color: #612507;
  }

  .birthdayCard:hover .cardInside {
    opacity: 1;
  }
  
  .birthdayCard:hover .happy {
    opacity: 0;
  }
  
  .cardFront {
    backdrop-filter: blur(15px);
    position: relative;
    width: 300px;
    height: 450px;
    border: 1.5px solid #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: 30px 0 50px #000000;
    transition: all 2s ease-in-out;
    opacity: 1;
  }
  
  .happy {
    position: absolute;
    bottom: 30px;
    font-size: 40px;
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin: 30px;
    color: #FFFFFF;
    transition: all 1s ease-in-out;
    opacity: 1;
  }
  
  .balloons {
    position: absolute;
  }
  
  .balloon-1,
  .balloon-2,
  .balloon-3{
    position: absolute;
    width: 85px;
    height: 95px;
    color: #FFFFFF;
  }
  
  .balloon-1 {
    left: 40px;
    top: 20px;
    width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .balloon-2 {
    left: 120px;
    top: 120px;
    height: 160px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .balloon-3 {
    left: 160px;
    top: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardInside {
    position: absolute;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    z-index: -1;
    left: 0;
    top: 0;
    backdrop-filter: blur(15px);
    color: #FFFFFF;
    box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
    transition: all 2s ease-in-out;
    opacity: 0;
    border: 1.5px solid #FFFFFF;
    
  }
  
  p {
    font-family: "Brush Script MT", cursive;
    margin: 40px;
    font-size: 20px;
   
  }
  
  .name {
    position: absolute;
    left: 150px;
    top: 275px;
  }
  
  .back {
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin: 30px;
    outline-style: dotted;
  }



@media(max-width: 1100px){
    header{
        padding: 18px 4%;
    }

    #menu-icon{
        display: initial;
    }

    .navbar{
        position: absolute;
        top: 80%;
        left: 7.5%;
        right: 0;
        display: flex;
        flex-direction:column;
        background-color: #F8EDED;
        box-shadow: 4px 4px 0 4px rgba(14 55 54 / 15%); 
        transition: 0.2s all linear;
        text-align: left;
        display: none;
    }

    .navbar a{
        padding: 1rem;
        margin-left: 1rem;
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
        margin-right: 3rem;
        display: block;

    }

    .content{
        top: 78px;

    
    }

    .active{
        display: initial;

    }

}

@media(max-width: 650px){
  .birthdayCard:hover .cardFront {
   opacity: 0;
   transform: rotateY(0deg);
  }

}




